# Ignore environment variables
.env

# Ignore history file
history.txt

# Ignore node modules
node_modules/chrome-history-database-firebase-adminsdk-qwzgj-59b67501ec.json

chrome-history-database-firebase-adminsdk-qwzgj-59b67501ec.json

node_modules/